services:
  - type: web
    name: chat-app
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "npm run start"
    envVars:
      - key: PORT
        value: 5000
      - key: MONGO_URI
        sync: false
